.banner-area { 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    img {
        width: 100%;
        position: relative;
    }
    .content {
        width: 100%;
        height: 100%;
        left: 0;
        top: 55%;
        position: absolute;
        h2 {
            font-size: 32px;
            font-weight: 700;
            font-family: 'tahoma',sans-serif;
            color: aqua;
        }
        p {
            width: 30%;
            margin: 0 auto;
            color: #ddd;
            padding-bottom: 40px;
        }
        .btn {
            border: none;
            display: block;
            a {
                text-decoration: none;
                text-transform: capitalize;
                padding: 10px 29px;
                border: 1px solid rgb(8, 225, 8);
                text-align: center;
                border-radius: 16px;
                position: relative;
                transition: .6s;
                z-index: 99999;
                color: #fff;
                &:hover {
                    border: none;
                    transition: .6s;
                    color: rgb(33, 112, 135)
                }
                &:hover::before {
                    width: 100%;
                    right: 100%;
                    z-index: -1;
                    border-radius: 30px;
                    border: none;
                }
                &::before {
                    content: '';
                    width: 0%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: yellow;
                    transition: .6s;
                }
            }
        }
    }
}